BASE_RPC_URL=
NEXT_PUBLIC_URL=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_PAYMASTER_PROXY_SERVER_URL=
NEXT_PUBLIC_BUILDER_CODE=
CDP_PAYMASTER_URL=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_SCOREBOARD_ADDRESS=
NEXT_PUBLIC_RUNNFT_ADDRESS=
